body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
}

.left, .right {
    width: 20%;
    background: #00000030;
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
}

.middle {
    width: 50%;
    background: #00000050;
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
}

.test {
    background-color:#000000AA !important;
    border-radius: 10px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color:#4d6d29;
    cursor: pointer;
    text-align: center;
}

.cell:hover{
    background-color:#62863b;
    color: #fff
    
}

.uncovered {
    background-color: #667e4a;
}

.board {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    color: #d8d8d8;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}

.hintBar {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 35px;
    background-color: #00000090;
    cursor: pointer;
    font-size: 18pt;
    text-align: center;
    padding: 10px;
}

.hint {
    display: inline;
    padding:5px;
}

.headline {
    height: 120px;
    font-size: 100px;
    font-family: 'Special Elite', cursive;
    text-align: center;
    color: #cc0000;

}

.disable-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by any browser but < IE9 */
}

.hide {
    visibility: collapse;
}

.mark {
    background-color:#FF0000;
}

.mark-safe {
    background-color:#0eda0e;
}

.smiley {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    cursor: pointer;
    text-align: center;
    font-size: 40pt;
    padding: 10px;
}

.new-game {
    cursor: pointer;
    display: inline;
    padding-right: 2px;
    padding-left: 2px;
    margin: 10px;
}

.new-game-btn {
    display: inline;
    background-color: #ddeeff;
    background-color:#00000090;
    color: #00ff00;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-width: 1px;
    border-style: solid;
}

.new-game-btn:hover{
    background-color:#00dd00;
    color: #000000
    
}

.statusBar {
    padding: 10px;
    margin: 10px;
    background-color:#00000090;
    color: #00dd00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}

.timer {
    width: 90%;
    background-color:#00000080;
    cursor: pointer;
    font-size: 15pt;
    text-align: center;
    color: #00dd00;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.lives-monitor {
    width: 90%;
    background-color:#00000080;
    cursor: pointer;
    font-size: 15pt;
    text-align: center;
    color: #00dd00;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}

.safe-move {
    display: block;
    background-color: #ddeeff;
    background-color:#00000090;
    color: #00ff00;
    padding: 10px;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-width: 1px;
    border-style: solid;
}

.safe-move:hover{
    background-color:#00dd00;
    color: #000000
    
}