body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.test {
    background-color: darkorange !important;
    border-radius: 10px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: darkgrey;
    cursor: pointer;
    text-align: center;
}

.uncovered {
    background-color: rgb(204, 204, 204);
}

.board {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.container {
    width: 640px;
    /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.hintBar {
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    background-color: rgb(253, 179, 89);
    cursor: pointer;
    font-size: 15pt;
    text-align: center;
}

.hint {
    width: 30px;
    display: inline;
    padding-right: 2px;
    padding-left: 2px;
}

.hint1 {}

.disable-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by any browser but < IE9 */
}

.hide {
    visibility: collapse;
}

.mark {
    background-color: deeppink;
}

.smiley {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    cursor: pointer;
    text-align: center;
    font-size: 40pt;
    padding: 10px;
}

.new-game {
    width: 30px;
    display: inline;
    padding-right: 2px;
    padding-left: 2px;
    margin: 10px;

}

.new-game-btn {
    width: 30px;
    display: inline;
    background-color: #ddeeff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    margin: 10px;

}

.statusBar {
    padding: 10px;
    background-color: azure;
    margin: 10px;
}